# Build folders
/build/
/.gradle/

# IDE
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store

# Env files
.env

.gradle/
build/
out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/

